* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #b4a1a1;
    padding-top: 150px;
}

#header {
    background-color: #040629;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 1000;
    text-align: center;
    height: 100x;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1%;
}

#header h1 {
    color: white;
    margin: 0;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    color: #116ef0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ff6600;
}

#pesquisa {
    text-align: center;
    margin: 20px 0;
}

.barra-pesquisa {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #116ef0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600;
}

#footer {
    background-color: #0370c9;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
}

#footer svg{
    height: 30px;
    width: 30px;
}

.img1 {
    width: 200px;
    height: 100px;
}

#conteudo {
    text-align: center;
    border-radius: 20%;
    gap: 8px;
}